django==4.2.*
beautifulsoup4==4.12.3
lxml
pillow>=10.1
loguru==0.7.2
importlib-metadata==8.5.0
djangorestframework==3.15.2
requests==2.32.3
whoosh==2.7.4
django-haystack==3.3.0
Markdown==3.7
jieba==0.42.1
mammoth==1.8.0
markdownify==0.13.1
selenium==4.25.0
webdriver_manager==4.0.2
PyYAML==6.0.2
qiniu==7.14.0
django-auth-ldap==4.8.0
django-cors-headers==4.4.0
minio==7.2.9
pypdf==5.0.1
pyjwt==2.9.0
python-magic
oss2==2.19.0
python-docx==1.1.2
markdown-it-py==3.0.0
linkify-it-py==2.0.3
redis==5.1.0
nh3==0.2.18
mysqlclient
